@tailwind base;
@tailwind components;
@tailwind utilities;

.otp-inputs {
  height: 40px;
  width: 40px !important;
  border-radius: 6px;
}

.rc-collapse-header {
  padding: 2px;
}

.rc-collapse-item {
  border: none !important;
}
